---
import '../../styles/global.css';

import { useTranslations } from '../../i18n/utils';
import { languageList } from '../../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

import { getRelativeLocaleUrl } from 'astro:i18n';

import Layout from '../../layouts/Layout.astro';
import Header from '../../layouts/Header_default.astro';
import Topbar from '../../components/Topbar.astro';
import Loading from '../../components/Loading.astro';
import ItemProduct from '../../components/ItemProduct.astro';
import Main from '../../layouts/Main.astro';

import dark_1 from '../../assets/darkblob/darkblob_1.webp';
import dark_1_small from '../../assets/darkblob/darkblob_1_small.png';
import dark_2_large from '../../assets/darkblob/darkblob_2_large.png';
import dark_2_small from '../../assets/darkblob/darkblob_2_small.png';
import dark_3_large from '../../assets/darkblob/darkblob_3_large.png';
import dark_4 from '../../assets/darkblob/darkblob_4.png';
import dark_4_small from '../../assets/darkblob/darkblob_4_small.png';
import Footer2 from '../../layouts/Footer2.astro';

import bigplus from '../../assets/darkblob/bigplus.svg';

const pageTitle = 'DarkBlobCine.com - Una propuesta para los amantes del cine';
const pageDescription = 'Diseño UX/UI y programación de un blog dedicado a nuestra pasión por el cine.';
const pageKeywords = 'UX, UI, Fotocasa, html, css, javascript, blog, cine';
const pageAuthor = 'Joan Lafulla';
---

<Layout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor} class="overflow-x-hidden">
	<Loading />
	<Topbar cluePosition="30%" />
    <Header/>
	<Main>
        <section id="darkblob">
            <img src={bigplus.src} alt="Logo de DarkBlobCine.com" class="bigplus" />
            <div class="darkblob_contenedor_1">
                <div class="darkblob_content_1">
                    <ItemProduct
                    title={translateLabels('dark.row1.title')}
                    description={translateLabels('dark.row1.body')}
                    class="row-1"
                    imgWidth="55%"
                    imgWidthMobile="45%"
                    flexDirection="row"
                    textAlign="left"
                    colorText="var(--white)"
                    justifyImages="center"
                    textDirection="column">
                    <picture>
                        <source media="(max-width: 680px)" srcset={dark_1_small.src}>
                        <img src={dark_1.src} alt="Página de inicio del blog darkblobcine.com"  class="img-large-extra"/>
                    </picture>
                    </ItemProduct> 
                </div>
            </div>
            <div class="darkblob_contenedor_2">
                <div class="darkblob_content_2">
                    <ItemProduct
                    title={translateLabels('dark.row2.title')}
                    description={translateLabels('dark.row2.body')}
                    class="row-2"
                    imgWidth="55%"
                    imgWidthMobile="45%"
                    flexDirection="row-reverse"
                    textAlign="left"
                    colorText="var(--text)"
                    justifyImages="center"
                    textDirection="column">
                    <img src={dark_3_large.src} alt="Ficha de una película en DarkBlobcine.com" class="img-large-isolate" />
                    <picture>
                        <source media="(max-width: 680px)" srcset={dark_2_small.src}>
                        <img src={dark_2_large.src} alt="Ficha de una película en DarkBlobcine.com"  class="img-large-picture"/>
                    </picture>
                    </ItemProduct>
                </div>
            </div>
            <div class="darkblob_contenedor_3">
                <div class="darkblob_content_3">
                    <ItemProduct
                    title={translateLabels('dark.row3.title')}
                    description={translateLabels('dark.row3.body')}
                    class="row-3"
                    flexDirection="column-reverse"
                    textAlign="left"
                    colorText="var(--text)"
                    justifyImages="center"
                    textDirection="row">
                    <picture>
                        <source media="(max-width: 680px)" srcset={dark_4_small.src}>
                        <img src={dark_4.src} alt="Detalle de la página de inicio de darkblobcine.com"  class="img-large-isolate"/>
                    </picture>
                    </ItemProduct> 
                </div>
            </div>
        </section> 
    </Main>
    <Footer2
		bgColor="var(--dark-brown)",
		textColor="var(--yellow)",
        barraColor="var(--yellow)",
		template= "yellow"
	/>
</Layout>

<style>

    #darkblob {
        position: relative;
        z-index: 1;
    }

    .darkblob_contenedor_1 {
        background-color: var(--gray);
        position: relative;
    }

    .darkblob_content_1,
    .darkblob_content_2,
    .darkblob_content_3 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        z-index: 100;
        position: relative;
    }

    .darkblob_contenedor_2,
    .darkblob_contenedor_3 {
        background-color: var(--yellow);
        position: relative;
    }

    .item-product.row-2 {
        margin: 0;
    }

    .item-product-text {
        color: var(--yellow);
    }

    .img-large-extra {
        width: auto;
        max-width: 1200px;
        height: fit-content;
        border-radius: 3.125rem;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        border: 2rem solid var(--yellow);
        object-fit: cover;
        position: relative;
        background: white;
    }

    .img-large-isolate,
    .img-large-picture {
        width: auto;
        height: fit-content;
        border-radius: 3.125rem;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        border: 1rem solid var(--white);
        object-fit: cover;
        position: relative;
        background: white;
    }

    .row-2 .img-large-isolate {
        top: -4rem;
        left: 2.5rem;
        width: 50%;
    }

    .row-2 .img-large-picture {
        top: 4rem;
        right: 2.5rem;
        max-width: 282px;
    }

    .bigplus {
        position: absolute;
        top: -7%;
        right: -3%;
        max-width: 450px;
        height: auto;
        z-index: 200;
        animation-name: rotarBigPlus;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes rotarBigPlus {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        } 
    }

    @media (max-width: 1100px) {
        .row-2 .img-large-isolate {
            display: none;
        }

        .row-2 .img-large-picture {
            top: 0;
            right: 0;
        }

        .img-large-extra {
            max-width: 800px;
        }

        .item-product,
        .item-product.row-2  {
            margin: 1.5rem 0;
        }

        .bigplus {
            top: -7%;
            right: -3%;
            max-width: 300px;
        }
    }

    @media (max-width: 680px) {

        .item-product {
            flex-direction: column-reverse;
            gap: 2.5rem;
        }

        .img-large-extra {
            max-width: 282px;
            width: 100%;
            height: auto;
        }

        .item-product-text {
            flex-direction: column !important
        }

        .apps_fotocasa_contenedor .item-product:first-child {
            margin: 0;
        } 
    }

    @media (max-width: 524px) {
        .bigplus {
            top: -5%;
            right: -30%;
            max-width: 250px;
        }
    }
</style>

<script>
// Selecciona el elemento al que quieres añadir el estilo
const myFooter = document.querySelector('footer');

window.addEventListener('scroll', () => {
  // Calcula la posición actual del scroll
  const scrollTop = window.scrollY || document.documentElement.scrollTop;
  // Obtiene la altura total del documento
  const alturaTotal = document.documentElement.scrollHeight - window.innerHeight;
  // Calcula el porcentaje de scroll
  const porcentajeScroll = (scrollTop / alturaTotal) * 100;

  if (porcentajeScroll >= 50) {
    // Añade un estilo, por ejemplo, una clase
    if(myFooter) {
        myFooter.style.opacity='1';
    }
    } else {
    // Opcional: quita la clase si el scroll es menor al 50%
    if(myFooter) {
        myFooter.style.opacity='0';
    }
    
  }
});
</script>