---
import '../styles/global.css';

import { useTranslations } from '../i18n/utils';
import { languageList } from '../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

import { getRelativeLocaleUrl } from 'astro:i18n';

import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header_default.astro';
import Topbar from '../components/Topbar.astro';
import Loading from '../components/Loading.astro';
import ItemProduct from '../components/ItemProduct.astro';
import Main from '../layouts/Main.astro';

import system_1 from '../assets/system/system_1.png';
import system_1_small from '../assets/system/system_1_small.png';
import system_2 from '../assets/system/system_2.png';
import system_3 from '../assets/system/system_3.png';
import system_3_small from '../assets/system/system_3_small.png';
import system_4 from '../assets/system/system_4.png';
import panotLogo from '../assets/system/panot_logo.svg';

import Footer2 from '../layouts/Footer2.astro';


const pageTitle = 'Creando un Design System multi tema en Figma';
const pageDescription = 'Un Design System que optimiza el proceso de diseño, facilita la colaboración entre equipos y mantiene la coherencia en nuestros productos.';
const pageKeywords = 'UX, UI, Fotocasa, html, css, javascript, blog, cine, Figma, Design System, Panot, Fotocasa, Habitaclia';
const pageAuthor = 'Joan Lafulla';
---

<Layout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor} class="overflow-x-hidden">
	<Loading />
	<Topbar cluePosition="30%" />
    <Header/>
	<Main>
        <section id="system">
            <div class="system_contenedor_1">
                <div class="system_content_1">
                    <ItemProduct
                    title={translateLabels('system.row1.title')}
                    description={translateLabels('system.row1.body')}
                    class="row-1"
                    imgWidth="55%"
                    imgWidthMobile="45%"
                    flexDirection="row"
                    textAlign="left"
                    colorText="var(--text)"
                    justifyImages="center"
                    textDirection="column">
                    <picture>
                        <source media="(max-width: 680px)" srcset={system_1_small.src}>
                        <img src={system_1.src} alt="Variables de diseño en Figma"  class="img-large-extra"/>
                    </picture>
                    </ItemProduct> 
                </div>
            </div>
            <div class="system_contenedor_2">
                <div class="system_content_2">
                    <ItemProduct
                    title={translateLabels('system.row2.title')}
                    description={translateLabels('system.row2.body')}
                    imgSupport={panotLogo}
                    imgSupportAlt="Logo de Panot, el sistema de diseño de Fotocasa y Habitaclia"
                    imgSupportClass="img_support_small"
                    class="row-2"
                    imgWidth="50%"
                    imgWidthMobile="45%"
                    flexDirection="row-reverse"
                    textAlign="left"
                    colorText="var(--text)"
                    justifyImages="center"
                    textDirection="column">
                    <img src={system_2.src} alt="La Home de Habitaclia con el sistema de diseño de Panot aplicado." class="img-large-isolate" />
                    <picture>
                        <source media="(max-width: 680px)" srcset={system_3_small.src}>
                        <img src={system_3.src} alt="La Home de Fotocasa con el sistema de diseño de Panot aplicado."  class="img-large-picture"/>
                    </picture>
                    </ItemProduct>
                </div>
            </div>
            <div class="system_contenedor_3">
                <div class="system_content_3">
                    <ItemProduct
                    title={translateLabels('system.row3.title')}
                    description={translateLabels('system.row3.body')}
                    class="row-3"
                    imgWidth="55%"
                    imgWidthMobile="45%"
                    flexDirection="row"
                    textAlign="left"
                    colorText="var(--white)"
                    justifyImages="center"
                    textDirection="column">
                    <picture>
                        <source media="(max-width: 680px)" srcset={system_4.src}>
                        <img src={system_4.src} alt="Ejemplos de tokens de diseño de Panot"  class="img-large-isolate"/>
                    </picture>
                    </ItemProduct> 
                </div>
            </div>
        </section> 
    </Main>
    <Footer2
		bgColor="var(--yellow)",
		textColor="var(--dark-brown)",
		barraColor="var(--dark-brown)",
		template= "brown"
	/>
</Layout>

<style>
    .img_support {
        width: auto;
        height: auto;
    }

    #system {
        position: relative;
        z-index: 1;
    }

    .system_contenedor_1 {
        background-color: var(--gray-light);
        position: relative;
    }

    .system_content_1,
    .system_content_2,
    .system_content_3 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        z-index: 100;
        position: relative;
    }

    
    .system_contenedor_2 {
        background-color: var(--yellow);
        position: relative;
    }

    .system_contenedor_3 {
        background-color: var(--dark-brown);
        position: relative;
    }

    .item-product.row-2 {
        margin: 0;
    }

    .item-product-text {
        color: var(--yellow);
    }

    .img-large-extra {
        width: auto;
        max-width: 1200px;
        height: auto;
        border-radius: 3.125rem;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        border: 2rem solid var(--yellow);
        object-fit: cover;
        position: relative;
        background: white;
    }

    .img-large-isolate,
    .img-large-picture {
        width: auto;
        height: auto;
        border-radius: 3.125rem;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        border: 1rem solid var(--white);
        object-fit: cover;
        position: relative;
        background: white;
    }

    .row-2 .img-large-isolate {
        top: -4rem;
        left: 2.5rem;
        width: 50%;
    }

    .row-2 .img-large-picture {
        top: 4rem;
        right: 2.5rem;
        max-width: 282px;
    }

    .item-product.row-1 {
        margin: 3rem 0;
    }

    @keyframes rotarBigPlus {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        } 
    }

    @media (max-width: 1100px) {

        .item-product.row-1 {
            margin-top: 1rem;
        }

        .row-2 .img-large-isolate {
            display: none;
        }

        .row-2 .img-large-picture {
            top: 0;
            right: 0;
        }

        .img-large-extra {
            max-width: 800px;
        }

        .item-product,
        .item-product.row-2  {
            margin: 1.5rem 0;
        }

        .bigplus {
            top: -7%;
            right: -3%;
            max-width: 300px;
        }
    }

    @media (max-width: 680px) {

        .item-product {
            flex-direction: column-reverse;
            gap: 2.5rem;
        }

        .img-large-extra,
        .img-large-isolate {
            max-width: 282px;
            width: 100%;
            height: auto;
            border-width: 1rem;
        }

        .item-product-text {
            flex-direction: column !important
        }

        .apps_fotocasa_contenedor .item-product:first-child {
            margin: 0;
        } 
    }

    @media (max-width: 524px) {
        .bigplus {
            top: -5%;
            right: -30%;
            max-width: 250px;
        }
    }
</style>

<script>
// Selecciona el elemento al que quieres añadir el estilo
const myFooter = document.querySelector('footer');

window.addEventListener('scroll', () => {
  // Calcula la posición actual del scroll
  const scrollTop = window.scrollY || document.documentElement.scrollTop;
  // Obtiene la altura total del documento
  const alturaTotal = document.documentElement.scrollHeight - window.innerHeight;
  // Calcula el porcentaje de scroll
  const porcentajeScroll = (scrollTop / alturaTotal) * 100;

  if (porcentajeScroll >= 50) {
    // Añade un estilo, por ejemplo, una clase
    if(myFooter) {
        myFooter.style.opacity='1';
    }
    } else {
    // Opcional: quita la clase si el scroll es menor al 50%
    if(myFooter) {
        myFooter.style.opacity='0';
    }
    
  }
});
</script>