---
import '../styles/global.css';

import { useTranslations } from '../i18n/utils';
import { languageList } from '../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

import { getRelativeLocaleUrl } from 'astro:i18n';

import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header_trayecto.astro';
import Topbar from '../components/Topbar.astro';
import Loading from '../components/Loading.astro';
import ItemProduct from '../components/ItemProduct.astro';
import Main from '../layouts/Main.astro';

import trayecto_1_large from '../assets/trayecto/trayecto_1_large.png';
import trayecto_2_large from '../assets/trayecto/trayecto_2_large.png';
import trayecto_2_small from '../assets/trayecto/trayecto_2_small.png';
import trayecto_3_large from '../assets/trayecto/trayecto_3_large.png';
import trayecto_4_large from '../assets/trayecto/trayecto_4_large.png';
import trayecto_4_small from '../assets/trayecto/trayecto_4_small.png';
import user1 from '../assets/trayecto/user1.png';
import user2 from '../assets/trayecto/user2.png';
import user3 from '../assets/trayecto/user3.png';
import user4 from '../assets/trayecto/user4.png';
import Footer2 from '../layouts/Footer2.astro';


const pageTitle = 'Explorando la búsqueda por tiempo de trayecto en Fotocasa';
const pageDescription = 'La nueva funcionalidad de búsqueda por trayecto permite a los usuarios de Fotocasa obtener resultados a partir de un punto de interés (una dirección), un medio de transporte (a pie, en coche, transporte público...) y un tiempo de desplazamiento (de 10 a 60 min).';
const pageKeywords = 'UX, UI, Fotocasa, html, css, javascript, fotocasa, búsqueda, trayecto, tiempo de trayecto';
const pageAuthor = 'Joan Lafulla';
---

<Layout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor} class="overflow-x-hidden">
	<Loading />
	<Topbar cluePosition="20%" />
    <Header/>
	<Main overflow="visible">
        
            <div class="trayecto_contenedor_2">
                <div class="trayecto_content_2">
                    <ItemProduct
                    title={translateLabels('trayecto.row2.title')}
                    description={translateLabels('trayecto.row2.body')}
                    class="row-2"
                    imgWidth="50%"
                    imgWidthMobile="45%"
                    flexDirection="row"
                    textAlign="left"
                    colorText="var(--text)"
                    justifyImages="center"
                    textDirection="column">
                    <img src={trayecto_1_large.src} alt="La búsqueda por tiempo de trayecto como nueva forma de búsqueda en Fotocasa" class="img-large-isolate" />
                    <picture>
                        <source media="(max-width: 680px)" srcset={trayecto_2_small.src}>
                        <img src={trayecto_2_large.src} alt="Pantalla en la que se muestra la búsqueda por tiempo de trayecto"  class="img-large-picture"/>
                    </picture>
                    </ItemProduct>
                </div>
            </div>
            <div class="trayecto_contenedor_4">
                <div class="trayecto_content_4_content">
                    <div class="trayecto_content_4_content_wrapper">
                        <h1>{translateLabels('trayecto.row4.title')}</h1>
                        <div set:html={translateLabels('trayecto.row4.body')} class="trayecto_content4_txt"></div>
                        <ul class="trayecto_users">
                            <li><img src={user1.src} alt="Usuario 1" /></li>
                            <li><img src={user2.src} alt="Usuario 2" /></li>
                            <li><img src={user3.src} alt="Usuario 3" /></li>
                            <li><img src={user4.src} alt="Usuario 4" /></li>
                        </ul>
                    </div>
                </div>
                <div class="trayecto_content_4_bg"></div>
            </div>
            <div class="trayecto_contenedor_3">
                <div class="trayecto_content_3">
                    <ItemProduct
                    title={translateLabels('trayecto.row3.title')}
                    description={translateLabels('trayecto.row3.body')}
                    class="row-3"
                    imgWidth="50%"
                    imgWidthMobile="45%"
                    flexDirection="row-reverse"
                    textAlign="left"
                    colorText="var(--text)"
                    justifyImages="center"
                    textDirection="column">
                    <picture>
                        <source media="(max-width: 680px)" srcset={trayecto_4_small.src}>
                        <img src={trayecto_4_large.src} alt="Pantalla en la que se muestra una opción de doble búsqueda por trayecto" class="img-large-picture"/>
                    </picture>
                    <img src={trayecto_3_large.src} alt="Resultado de una doble búsqueda por tiempo de trayecto" class="img-large-isolate" />
                    </ItemProduct>
                </div>
            </div>
    </Main>
    <Footer2
		bgColor="var(--dark-brown)",
		textColor="var(--yellow)",
        barraColor="var(--yellow)",
		template= "yellow"
	/>
</Layout>

<style>
    .trayecto_content_2 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 6rem 2rem 6rem 2rem;
        z-index: 100;
        position: relative;
    }

    .trayecto_content_3 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 8rem 2rem 8rem 2rem;
        z-index: 100;
        position: relative;
    }

    .trayecto_contenedor_2,
    .trayecto_contenedor_3 {
        background-color: var(--yellow);
        position: relative;
    }

    .item-product.row-2,
    .item-product.row-3 {
        margin: 0;
    }

    .item-product-text {
        color: var(--yellow);
    }

    .img-large-extra {
        width: auto;
        max-width: 1200px;
        height: auto;
        border-radius: 3.125rem;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        border: 1rem solid var(--yellow);
        object-fit: cover;
        position: relative;
        background: white;
    }

    .img-large-isolate,
    .img-large-picture {
        width: auto;
        height: auto;
        border-radius: 3.125rem;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        border: 1rem solid var(--white);
        object-fit: cover;
        position: relative;
        background: white;
    }

    .row-2 .img-large-isolate {
        top: 0rem;
        left: 2.5rem;
        max-width: 282px;
    }

    .row-2 .img-large-picture {
        top: 3rem;
        right: 1.5rem;
        max-width: 282px;
    }

    .row-3 .img-large-isolate {
        top: 3rem;
        max-width: 282px;
        right: 14%;
    }

    .row-3 .img-large-picture {
        top: -1rem;
        max-width: 282px;
        left: 4%;
    }

    .trayecto_contenedor_4 {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 80vh;
        background-color: var(--dark-brown);
        display: flex;
        align-items: center;
    }

    .trayecto_content_4_bg {
        width: 50%;
        height: 100%;
        background-image: url('../assets/trayecto/research.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .trayecto_content_4_content {
        width: 50%;
        color: var(--white);
        padding: 4rem;
        z-index: 100;
    }

    .trayecto_content_4_content_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 55%;
        margin: 0 auto;
    }

    .trayecto_content_4_content h1 {
        font-size: clamp(1.2rem, 1.5rem + 1vw, 2.5rem);
        color: var(--white);
    }

    .trayecto_content_4_content p {
        font-family: 'Albert Sans', serif;
        font-size:clamp(1rem,1rem + 0.5vw,1.25rem);
        margin-bottom: 0;
        line-height: 1.5;
    }

    .trayecto_content4_txt {
        font-family: 'Albert Sans', serif;
        font-size: clamp(1rem, 1rem + 0.5vw, 1.25rem);
        margin-bottom: 0;
        line-height: 1.5;
    }

    .trayecto_users {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    .trayecto_users li {
        border-radius: 50%;
        overflow: hidden;
    }

    .trayecto_users li:nth-child(odd) {
        border: 4px solid var(--yellow);
    }

    .trayecto_users li:nth-child(even) {
        border: 4px solid var(--coral);
    }

    .trayecto_users li:not(:first-child) {
        margin-left: -12px;
    }

    @media (max-width: 1440px) {
        .trayecto_content_4_content_wrapper {
            max-width: 75%;
        }
    }

    @media (max-width: 1125px) {
        .trayecto_content_4_content_wrapper {
            max-width: 100%;
        }
    }

    @media (max-width: 1100px) {

        .row-2 .img-large-isolate {
            display: none;
        }

        .row-2 .img-large-picture {
            top: 0;
            right: 0;
        }

        .row-3 .img-large-isolate {
            display: none;
        }

        .row-3 .img-large-picture {
            top: 0;
            right: 0;
            left: 0;
        }

        .img-large-extra {
            max-width: 800px;
        }

        .trayecto_content_4_content_wrapper {
            max-width: 100%;
        }

        .trayecto_users li:last-child {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .trayecto_contenedor_4 {
            height: auto;
            flex-direction: column-reverse;
        }

        .trayecto_content_4_content {
            width: 100%;
            padding: 4rem 2rem;
        }

        .trayecto_content_4_bg {
            width: 100%;
            height: 300px;
        }

        .trayecto_content_2,
        .trayecto_content_3 {
            padding: 4rem 2rem;
        }
    }

    @media (max-width: 680px) {

        .item-product {
            flex-direction: column-reverse;
            gap: 2.5rem;
        }

        .img-large-extra {
            max-width: 282px;
            width: 100%;
            height: auto;
        }

        .item-product-text {
            flex-direction: column !important
        }

        .apps_fotocasa_contenedor .item-product:first-child {
            margin: 0;
        }

        .item-product.row-3 {
            margin-bottom: 4rem;
        }
    }
</style>

<script>
import Lenis from 'lenis'
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
gsap.registerPlugin(ScrollTrigger);

const lenis = new Lenis();
lenis.on('scroll', ScrollTrigger.update);

gsap.ticker.add((time) => {
		lenis.raf(time * 1000);
});


gsap.ticker.lagSmoothing(0);
const avatars = gsap.utils.toArray('.trayecto_users li');

gsap.fromTo(
  avatars,
  { opacity: 0, x: -10 },
  {
    opacity: 1,
    x: 0,
    duration: 0.5,
    stagger: 0.3, // intervalo entre elementos: 0.3s
    scrollTrigger: {
        trigger: '.trayecto_content_4_content_wrapper',
        start: '15% center',
	    end: 'top 50%',
        //markers: true
    }
  }
);


// Selecciona el elemento al que quieres añadir el estilo
const myFooter = document.querySelector('footer');

window.addEventListener('scroll', () => {
  // Calcula la posición actual del scroll
  const scrollTop = window.scrollY || document.documentElement.scrollTop;
  // Obtiene la altura total del documento
  const alturaTotal = document.documentElement.scrollHeight - window.innerHeight;
  // Calcula el porcentaje de scroll
  const porcentajeScroll = (scrollTop / alturaTotal) * 100;

  if (porcentajeScroll >= 50) {
    // Añade un estilo, por ejemplo, una clase
    if(myFooter) {
        myFooter.style.opacity='1';
    }
    } else {
    // Opcional: quita la clase si el scroll es menor al 50%
    if(myFooter) {
        myFooter.style.opacity='0';
    }
    
  }
});
</script>