---
import '../../styles/global.css';

import { useTranslations } from '../../i18n/utils';
import { languageList } from '../../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

import { getRelativeLocaleUrl } from 'astro:i18n';

import Layout from '../../layouts/Layout.astro';
import Header from '../../layouts/Header_default.astro';
import Topbar from '../../components/Topbar.astro';
import Loading from '../../components/Loading.astro';
import ItemProduct from '../../components/ItemProduct.astro';
import Main from '../../layouts/Main.astro';
import Footer2 from '../../layouts/Footer2.astro';
import gemelos from '../../assets/duplicados/gemelos.png';
import inseparables from '../../assets/duplicados/inseparables.png';
import duplicados1 from '../../assets/duplicados/duplicados_1.png';
import duplicados2 from '../../assets/duplicados/duplicados_2_large.png';
import duplicados2_small from '../../assets/duplicados/duplicados_2_small.png';
import duplicados3 from '../../assets/duplicados/duplicados_3_large.png';
import duplicados4 from '../../assets/duplicados/duplicados_4.png';

const pageTitle = 'Contactar amb anuncis Duplicats: del pain a l\'oportunitat';
const pageDescription = 'Una proposta per convertir un pain dusuaris en una oportunitat de negoci.';
const pageKeywords = 'UX, UI, Fotocasa, apps nativas';
const pageAuthor = 'Joan Lafulla';
---

<Layout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
	<Loading />
	<Topbar cluePosition="50%" />
    <Header/>
	<Main>
        <section id="duplicados">
            <div class="duplicados_contenedor_1">
                <div class="duplicados_content_1">
                    <ItemProduct
                        title={translateLabels('duplicados.row1.title')}
                        description={translateLabels('duplicados.row1.body')}
                        class="row-1"
                        imgWidth="55%"
                        imgWidthMobile="45%"
                        flexDirection="row"
                        textAlign="left"
                        justifyImages="center"
                        textDirection="column">
                        <div class="inseparables">
                            <img src={inseparables.src} alt="Cartel de la película Inseparables - Dead Ringers, de David Cronenberg" class="img-large-isolate" />
                        </div>
                        <div class="gemelos">
                            <picture>
                            <source media="(max-width: 680px)" srcset={gemelos.src}>
                            <img src={gemelos.src} alt="Cartel de la película Los gemelos golpean dos veces - TWins, de Ivan Reitman"  class="img-large-picture gemelos"/>
                            </picture>
                        </div>
                    </ItemProduct>
                </div>
            </div>
            <div class="duplicados_contenedor_2">
                <div class="duplicados_content_2">
                    <ItemProduct
                        title={translateLabels('duplicados.row2.title')}
                        description={translateLabels('duplicados.row2.body')}
                        class="row-2"
                        imgWidth="55%"
                        imgWidthMobile="45%"
                        flexDirection="row-reverse"
                        textAlign="left"
                        justifyImages="center"
                        textDirection="column">
                            <picture>
                            <source media="(max-width: 680px)" srcset={duplicados1.src}>
                            <img src={duplicados1.src} alt="Ejemplo ficticio de dos anuncios duplicados en Fotocasa"  class="img-large-picture"/>
                            </picture>
                    </ItemProduct>
                </div>
            </div>
            <div class="duplicados_contenedor_3">
                <div class="duplicados_content_3">
                    <ItemProduct
                        title={translateLabels('duplicados.row3.title')}
                        description={translateLabels('duplicados.row3.body')}
                        class="row-3"
                        imgWidth="55%"
                        imgWidthMobile="45%"
                        flexDirection="row"
                        textAlign="left"
                        justifyImages="center"
                        textDirection="column">
                            <img src={duplicados3.src} alt="Formulario de contacto de Fotocasa" class="img-large-isolate" />
                            <picture>
                             <source media="(max-width: 680px)" srcset={duplicados2_small.src}>
                            <img src={duplicados2.src} alt="Pantalla en la que se da la opción al usuario de contactar con anuncios duplicados"  class="img-large-picture"/>
                            </picture>
                    </ItemProduct>
                </div>
            </div>
            <div class="duplicados_contenedor_4">
                <div class="duplicados_content_4">
                    <ItemProduct
                        title={translateLabels('duplicados.row4.title')}
                        description={translateLabels('duplicados.row4.body')}
                        class="row-4"
                        imgWidth="45%"
                        imgWidthMobile="55%"
                        flexDirection="row-reverse"
                        textAlign="left"
                        justifyImages="center"
                        colorText="var(--white)"
                        textDirection="column">
                            <img src={duplicados4.src} alt="Imagen de los protagonistas de la película Los gemelos golpean dos veces" class="img-large-isolate" />
                    </ItemProduct>
                </div>
            </div>
        </section> 
    </Main>
    <Footer2
		bgColor="var(--yellow)",
        textColor="var(--dark-brown)",
        barraColor="var(--dark-brown)",
		template= "brown"
	/>
</Layout>

<style>

    #duplicados {
        position: relative;
        z-index: 1;
        padding: 0;
    }

    .duplicados_contenedor_1,
    .duplicados_contenedor_3 {
            background-color: var(--light-gray);
            position: relative;
    }

    .duplicados_contenedor_2 {
            background-color: var(--yellow);
            position: relative;
    }

    .duplicados_contenedor_4 {
            background-color: var(--dark-brown);
            position: relative;
    }

    .duplicados_content_1,
    .duplicados_content_2,
    .duplicados_content_3,
    .duplicados_content_4 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        z-index: 100;
        position: relative;
    }

    .duplicados_contenedor_2::before {
        content: '';
        position: absolute;
        background-color: var(--yellow);
        height: 48px;
        width: 50%;
        top: -48px;
        left: 0;
        z-index: 2;
        border-top-right-radius: 1rem;
    }

    .duplicados_contenedor_2::after {
        content: '';
        position: absolute;
        background-color: var(--yellow);
        height: 48px;
        width: 50%;
        bottom: -48px;
        right: 0;
        z-index: 2;
        border-bottom-left-radius: 1rem;
    }

    .row-2 .img-large-isolate,
    .row-2 .img-large-picture {
        width: auto;
        height: auto;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        object-fit: cover;
        position: relative;
        background: white;
        border: 1.5rem solid var(--white);
        border-radius: 3.125rem;
    }


    .row-1 .img-large-isolate {
        top: 2rem;
        width: 90%;
    }

    .row-1 .img-large-picture {
        top: -2rem;
    }

    .row-3 .img-large-isolate,
    .row-3 .img-large-picture {
        width: auto;
        height: auto;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        object-fit: cover;
        position: relative;
        background: white;
        border: 1.5rem solid var(--white);
        border-radius: 3.125rem;
    }

    .row-3 .img-large-isolate {
        top: -1.5rem;
        left: 2.5rem;
        width: 50%;
    }

    .row-3 .img-large-picture {
        top: 4rem;
        right: 2.5rem;
        max-width: 282px;
    }

    .row-4 .img-large-isolate {
        width: auto;
        height: auto;
        box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
        object-fit: cover;
        position: relative;
        background: white;
        border: 1.5rem solid var(--yellow);
        border-radius: 3.125rem;
    }

    .inseparables,
    .gemelos {
        position: relative;
        z-index: 1;
        display: flex
    }

    .inseparables {
        justify-content: start;
        align-items: center;
    }

     .inseparables::before {
        content: url('../../assets/aspa_small.svg');
        position: absolute;
        bottom: 60%;
        left: -8px;
        z-index: 2;
    }

    .gemelos::before {
        content: url('../../assets/aspa_small.svg');
        position: absolute;
        top: 1%;
        right: -8px;
        z-index: 2;
    }

    .gemelos::after {
        content: url('../../assets/aspa_small.svg');
        position: absolute;
        top: 15%;
        right: -8px;
        z-index: 2;
    }


    @media (max-width: 960px) {

        .inseparables {
            display: none;
        }
        
        .row-1 .img-large-isolate,
        .row-3 .img-large-isolate {
            display: none;
        }

        .row-1 .img-large-picture,
        .row-3 .img-large-picture {
            top: 0;
            right: 0;
        }

        .item-product {
            gap: 2rem;
            margin: 4.5rem 0 4.5rem 0;
        }

        .item-product.row-1 {
            margin-top: 1rem;
        }
    }

    @media (max-width: 680px) {

        .item-product {
            flex-direction: column-reverse;
            gap: 2.5rem;
        }

        .row-2 .img-large-picture {
            max-width: 282px;
            width: 100%;
            height: auto;
            border-width: 1rem;
        }

        .row-4 .img-large-isolate {
            max-width: 282px;
            width: 100%;
            height: auto;
            border-width: 1rem;
        }
    }
</style>

<script>
// Selecciona el elemento al que quieres añadir el estilo
const myFooter = document.querySelector('footer');

window.addEventListener('scroll', () => {
  // Calcula la posición actual del scroll
  const scrollTop = window.scrollY || document.documentElement.scrollTop;
  // Obtiene la altura total del documento
  const alturaTotal = document.documentElement.scrollHeight - window.innerHeight;
  // Calcula el porcentaje de scroll
  const porcentajeScroll = (scrollTop / alturaTotal) * 100;

  if (porcentajeScroll >= 50) {
    // Añade un estilo, por ejemplo, una clase
    if(myFooter) {
        myFooter.style.opacity='1';
    }
    } else {
    // Opcional: quita la clase si el scroll es menor al 50%
    if(myFooter) {
        myFooter.style.opacity='0';
    }
    
  }
});
</script>