---
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
import { languageList } from '../i18n/ui';
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

const{ headerText } = Astro.props;
import clint from '../assets/clint_5.webp';
import birds from '../assets/birds_2.webp';
import me from '../assets/me.svg';
import lafulla from '../assets/lafulla.svg';
---

<header>
    <div class="header_contenedor">
        <div class="header_top">
            <h1>{headerText}</h1>
            <div class="lafulla_mask">
                <div class="lafulla">
                    <img src={lafulla.src} alt="Mi nombre completo es Joan Lafulla Ferrer" class="lafulla_img"/>
                </div>
            </div>
        </div>
        <div class="header_bottom">
            <div class="header_bottom_column_1"></div>
            <div class="header_bottom_column_2"></div>
            <div class="me_pictures">
                <div class="birds_img">
                    <img src={birds.src} alt="Un cuadro de la película Los Pájaros"/>
                </div>
                <div class="clint_img">
                    <img src={clint.src} alt="Un cuadro de la película El bueno, el feo y el malo."/>
                </div>
                
                <div class="header_bottom_me">
                    <img src={me.src} alt="Una ilustración de Joan Lafulla, de espaldas, mirando cuadros." class="me_img"/>  
                </div>
            </div>
            <div class="introduce">
                <p set:html={translateLabels('home.introduce')}/>
               <div class="scroll-me">
                    {translateLabels('home.scroll')} <span class="material-symbols-outlined">sentiment_calm</span>
                </div>
            </div>
        </div>
    </div>
    
</header>

<style>

    header {
        position: relative;
        height: calc(100vh - 56px);
        display: flex;
        padding-top: 5rem;
        overflow-y: hidden;
        z-index: 1;
        background-color: var(--light-gray);
    }

    .header_contenedor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
    }

    .header_top {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row-start: 1;
        grid-auto-rows: min-content;
        grid-column: 2 / span 10;
        grid-column-gap: 1rem;
        max-height: 50vh;
    }

    .header_top h1 {
        grid-column: 3 / span 8;
        grid-row: 1 / span 1;
        font-family: 'Albert Sans', serif;
        font-size: 1.2rem;
        color: var(--text);
        font-weight: 400;
    }

    .lafulla_mask {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem
    }

    .lafulla {
        position: relative;
        top: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .lafulla_img {
        width: 80%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
    }
  

    .animation-lafulla {
        animation: animation-lafulla .5s  ease-out forwards;
    }

    @keyframes animation-lafulla {
        to {
            top: 0;
        }
    }

    .header_bottom {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: end;
        justify-content: end;
        justify-self: end;
        position: relative;
        min-height: 56vh;
    }

    .me_pictures {
        grid-column: 7 / span 5;
        grid-row: 1 / span 1;
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .header_bottom_me {
        margin: 0 1rem;
        position: relative;
        overflow: visible;
        width: auto;
    }

    .header_bottom_me img {
        min-height: 450px;
        width: 100%;
    }

    .me_img {
        width: 100%;
        height: auto;
        max-width: 90%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0;
        
    }

    .me_img_animation {
        animation: me-animation .75s .3s ease-in-out forwards;
    }

    @keyframes me-animation {
        to {
            opacity: 1;
        }
    }

    .header_bottom_column_1 {
        grid-column: 8 / span 4;
        grid-row: 1 / span 1;
        margin-right: 3rem;
        background-color: #FFE8E8;
        overflow: hidden;
        height: 0;
    }


    .header_bottom_column_2 {
        grid-column: 10 / span 2;
        grid-row: 1 / span 1;
        background-color: var(--yellow);
        overflow: hidden;
        height: 0;
        border-radius: 0 1rem 0 0;
    }

    .column_1_animation {
        animation: column_1_animation 2s forwards;
        animation-timing-function: linear(0, 0.115 2.2%, 0.877 9.4%, 1.016 11.9%, 1.081 14.7%, 1.088 16%, 1.084 17.5%, 1.013 25.3%, 0.993 30.8%, 1.001 46.8%, 1);
    }

    .column_2_animation {
        animation: column_2_animation 1.5s .3s ease-in-out forwards;
        animation-timing-function: linear(0, 0.115 2.2%, 0.877 9.4%, 1.016 11.9%, 1.081 14.7%, 1.088 16%, 1.084 17.5%, 1.013 25.3%, 0.993 30.8%, 1.001 46.8%, 1);
    }

    @keyframes column_1_animation {
        to {
            height: 100%;
        }
    }

    @keyframes column_2_animation {
        to {
            height: 40%;
        }
    }

    .clint_img,
    .birds_img {
      position: absolute;
      width:auto;
      height: auto;
      object-fit: cover;
      display: inline-block;
    }
    
    .clint_img {
        top: -20%;
        left: 0;
    }

    .clint_img::before {
        content: url('../assets/aspa_small.svg');
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 2;
    }


    .birds_img {
        top: -5%;
        right: -10%;
    }

    .birds_img::before {
        content: url('../assets/aspa_small.svg');
        position: absolute;
        top: 10%;
        left: -8px;
        z-index: 2;
    }

    .birds_img::after {
        content: url('../assets/aspa_small.svg');
        position: absolute;
        top: 25%;
        left: -8px;
        z-index: 2;
    }

    .introduce {
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        padding-left: 3rem;
        margin-bottom: 50%;
        position: relative;
        margin-left: 15%;
        margin-top: 2.5rem;
    }

    .introduce p::before {
        content: url('../assets/comillas.svg');
        position: absolute;
        top: -0.75rem;
        left: -2rem;
    }

    .introduce p {
        font-family: 'Brawler', serif;
        font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
        line-height: 1.75;
        color: var(--text);
        font-weight: 400;
        margin-bottom: 1rem;
        opacity: 0;
    }

    .scroll-me {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;
        padding: 1rem;
        border-top: 2px dashed var(--yellow);
        border-bottom: 2px dashed var(--yellow);
        font-family: 'Albert Sans', sans-serif;
        font-weight: 600;
        background-color: var(--soft-yellow);
    }

    .introduce-animation-p {
        animation: introduce-animation .75s .3s ease-out forwards;
    }

    @keyframes introduce-animation {
        0% {
            transform: translateY(15%);
            opacity: 0;
        }

        100% {
            transform: translateY(0%);
            opacity: 1;
        }
        
    }

    @media (max-width: 1100px) {
        header {
            height: auto;
        }

        .header_contenedor {
            margin: 0 1.5rem;
        }

        .scroll-me {
            display: none;
        }

        .header_bottom {
            min-height: auto;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto 1fr 1fr 1fr;
        }

        .header_bottom_column_1 {
            grid-column: 3 / span 3;
            grid-row: 2 / span 3;
        }

        .header_bottom_column_2 {
            grid-column: 4 / span 2;
            grid-row: 2 / span 3;
        }

        .me_pictures {
            grid-row: 2 / span 3;
            grid-column: 2 / span 4;
            justify-content: center;
            align-items: center;
        }

        .clint_img {
            max-width: 45%;
        }

        .birds_img {
            max-width: 35%;
        }

        .introduce {
            grid-column: 2 / span 4;
            grid-row: 1 / span 1;
            margin-left: 0;
            padding-left: 1.5rem;
            margin-top: 2rem;
            margin-bottom: 30%;
        }
    }

    @media (max-width: 680px) {

        header {
        padding-top: 2rem;
        }

        .introduce {
            grid-column: 1 / -1;
            padding: 0 .5rem .5rem 2rem;
        }

        .lafulla_img {
            width: 100%;
        }

        .header_top h1 {
            grid-column: 1 / -1;
            text-align: center;
            font-size: 1.125rem;
        }

        .me_pictures {
            grid-column: 1 / -1;
        }

        .header_bottom_me {
            margin: 0;
        }

        .header_bottom_me img {
            min-height: 380px;
            max-width: 100%;
        }

        .me_img {
            max-height: 380px;
            max-width: 100%;;
        }

        .birds_img {
        right: 0%;
    }

    }
</style>

<script>
    const clue_1 = document.querySelector('.topBar-clue_1');
	const clue_2 = document.querySelector('.topBar-clue_2');
	const lafulla = document.querySelector('.lafulla');
	const header_1 = document.querySelector('.header_bottom_column_1');
	const header_2 = document.querySelector('.header_bottom_column_2');
	const me = document.querySelector('.me_img');
	const introduceP = document.querySelector('.introduce p');

    const frases = [
        {
        titulo: "El Imperio Contraataca",
        frase: "Hazlo o no lo hagas, pero no lo intentes"
        },
        {
        titulo: "La vida secreta de Walter Mitty",
        frase: "La vida comienza al final de tu zona de confort"
        },
        {
        titulo: "La La Land",
        frase: "No dejes que el miedo te impida a hacer lo que amas"
        },
        {
        titulo: "La princesa prometida",
        frase: "No sueñes tu vida, vive tu sueño"
        },
        {
        titulo: "El mago de OZ",
        frase: "No hay lugar como el hogar"
        }
    ]
        
    // Función para mostrar una frase aleatoria
    function mostrarFraseAleatoria() {
        const indiceAleatorio = Math.floor(Math.random() * frases.length);
        const fraseSeleccionada = frases[indiceAleatorio];
        const loadingFraseTitulo = document.querySelector('.loading-frase-titulo');
        const loadingFraseFrase = document.querySelector('.loading-frase-frase');

        if (loadingFraseTitulo) {
            loadingFraseTitulo.textContent = `${fraseSeleccionada.titulo}`;    
        } 

        if (loadingFraseFrase) {
            loadingFraseFrase.textContent = `${fraseSeleccionada.frase}`;
        }
    }

    mostrarFraseAleatoria();

	const promiseLandingAnimation = () => new Promise((resolve) => {
		setTimeout(() => {
			const elemento = document.querySelector('.loading-page');
			if (elemento) {
			elemento.classList.add('loading-page_animation');
			} else {
			console.warn(`No se encontró ningún elemento con el selector: .loading-page`);
			}

			const loadingPageAnimation = document.querySelector('.loading-page_animation');
			resolve(loadingPageAnimation);
		}, 2000);
	});

	promiseLandingAnimation().then((response) => {
		const animation = response;

		if(animation) {
			//console.log('Loading page animation started');
			animation.addEventListener('animationend', () => {
				if (clue_1) {
					clue_1.classList.add('animation-clue-1');
				}
				if (clue_2) {
					clue_2.classList.add('animation-clue-2');
				}
				if (lafulla) {
					lafulla.classList.add('animation-lafulla');
				}
				if (header_1) {
					header_1.classList.add('column_1_animation');
				}
				if (header_2) {
					header_2.classList.add('column_2_animation');
				}
				if (me) {
					me.classList.add('me_img_animation');
				}

				if (introduceP) {
					introduceP.classList.add('introduce-animation-p');
				}
			});
		} else {
			console.log("todavia no tenemos el animation");
		} 
	});
</script>