---
const currentLang = Astro.currentLocale || 'es';

const { title, description } = Astro.props;
const {class: className, ...rest} = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content="Joan Lafulla" />
		<meta name="keywords" content="UX, UI, Design, Joan Lafulla" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:type" content="website" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=arrow_back,mail,mood,sentiment_calm,smartphone,web" rel="stylesheet" />
		<title>{title}</title>
	</head>
	<body class={className}>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body.overflow-x-hidden {
		overflow-x: hidden;
	}
</style>
